body
{
  background: url("image.png") center no-repeat;
  height: 90vh;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family:monospace;
  font-size: 17px;
}

.photos hr
{
  background-color: white;
}

h1
{
  font-size: 50%;
  font-family: monospace;
  color: #4682B4;
}

h5
{
  color: white;
  font-family: monospace;
}

nav
{
  background-color: lightblue;
  overflow: hidden;
  height: 6px;
}

/*nav button
{
  border-radius: 10px;
  margin-left: 30px;
  width: 8%;
  background-color: white;
}
nav a
{
  border-radius: 10px;
  text-decoration: none;
  margin-top: 7px;
  margin-left: 8px;
}*/
.photos img
{
  height: 70%;
  width: 100%;
  margin-top: 15px;
  box-shadow: -4px 4px 5px 0 #000;
  cursor: pointer;
  transition: 1s;
  overflow: hidden;
}

.photos img:hover
{
  transform: translatey(-5px);
}

/*.box1
{
  opacity: 0.9;
  width :80px;
  font-size: 20px;
  padding : 0px;
  height: 30px;
  position : absolute;
  cursor: pointer;
  top : 55%;
  left : 15%;
  transform : translate(-50%,-50%);
  background : #FDF3F3;
  text-align: center;
  border-radius: 50px;
  border: dotted;
}

.box2
{
  opacity: 0.9;
  width :100px;
  padding : 10px;
  position : absolute;
  cursor: pointer;
  top : 55%;
  left : 29%;
  transform : translate(-50%,-50%);
  background : #FDF3F3;
  text-align: center;
  border-radius: 20px;
  border: dotted;
}

.box3
{
  opacity: 0.9;
  width :100px;
  padding : 10px;
  position : absolute;
  cursor: pointer;
  top : 55%;
  left : 43%;
  transform : translate(-50%,-50%);
  background : #FDF3F3;
  text-align: center;
  border-radius: 20px;
  border: dotted;
}

.box4
{
  opacity: 0.9;
  width :100px;
  padding : 10px;
  position : absolute;
  cursor: pointer;
  top : 55%;
  left : 57%;
  transform : translate(-50%,-50%);
  background : #FDF3F3;
  text-align: center;
  border-radius: 20px;
  border: dotted;
}

.box5
{
  opacity: 0.9;
  width :100px;
  padding : 10px;
  position : absolute;
  cursor: pointer;
  top : 55%;
  left : 71%;
  transform : translate(-50%,-50%);
  background : #FDF3F3;
  text-align: center;
  border-radius: 20px;
  border: dotted;
}

.box6
{
  opacity: 0.9;
  width :100px;
  padding : 10px;
  position : absolute;
  cursor: pointer;
  top : 55%;
  left : 85%;
  transform : translate(-50%,-50%);
  background : #FDF3F3;
  text-align: center;
  border-radius: 20px;
  border: dotted;
}*/


.add1
{
  cursor: pointer;
  font-size: 10px;
  color: black;
  margin-top: 6%;
  margin-left: 6%;
  border-radius: 50px;
}

.add2
{
  cursor: pointer;
  font-size: 10px;
  color: black;
  top: 0%;
  left: 25%;
  border-radius: 50px;
}

.add3
{
  cursor: pointer;
  font-size: 10px;
  color: black;
  top: 0%;
  left: 37%;
  border-radius: 50px;
}

.add4
{
  cursor: pointer;
  font-size: 10px;
  color: black;
  top: 0%;
  left: 51%;
  border-radius: 50px;
}

.add5
{
  cursor: pointer;
  font-size: 10px;
  color: black;
  top: 0%;
  left: 64.5%;
  border-radius: 50px;
}

.add6
{
  cursor: pointer;
  font-size: 10px;
  color: black;
  top: 0%;
  left: 78.5%;
  border-radius: 50px;
}

.submit
{
  cursor: pointer;
  font-size: 20px;
  color: black;
  top: 0%;
  left: 78.5%;
  border-radius: 15px;
}
.icons
{
  position: absolute;
  right: 40px;
  bottom: 60px;
}

.icon
{
  color: #262626;
  font-size: 25px;
}
